# ---------------------------------------------------------
# HAProxy configuration
#
# Kubernetes API High Availability
#
# VIP:
#   192.168.1.101:6443
#
# Kubernetes control-plane nodes:
#   k8s-1 -> 192.168.1.134:6443
#   k8s-2 -> 192.168.1.135:6443
#   k8s-3 -> 192.168.1.136:6443
# ---------------------------------------------------------

global
    log stdout format raw local0

defaults
    mode tcp
    option tcplog

    timeout connect 10s
    timeout client  1m
    timeout server  1m

# ---------------------------------------------------------
# Kubernetes API frontend
# ---------------------------------------------------------

frontend kubernetes-api
    bind 192.168.1.101:6443
    mode tcp

    default_backend kubernetes-control-plane

# ---------------------------------------------------------
# Kubernetes control-plane backend
# ---------------------------------------------------------

backend kubernetes-control-plane
    mode tcp

    balance roundrobin

    option tcp-check

    server k8s-1 192.168.1.134:6443 check
    server k8s-2 192.168.1.135:6443 check
    server k8s-3 192.168.1.136:6443 check
