# ---------------------------------------------------------
# 03-01-01-haproxy.cfg
# Path: infra/ansible/files/03-high-availability/03-01-01-haproxy.cfg
#
# HAProxy:
# - Kubernetes API: 6443
# - Ingress HTTP:    80  -> NodePort 30080
# - Ingress HTTPS:   443 -> NodePort 30443
# ---------------------------------------------------------

global
    log stdout format raw local0

defaults
    mode tcp
    option tcplog

    timeout connect 10s
    timeout client  1m
    timeout server  1m


# =========================================================
# Kubernetes API
# =========================================================

frontend kubernetes-api
    bind 192.168.1.101:6443
    mode tcp

    default_backend kubernetes-control-plane


backend kubernetes-control-plane
    mode tcp

    balance roundrobin
    option tcp-check

    server k8s-1 192.168.1.134:6443 check
    server k8s-2 192.168.1.135:6443 check
    server k8s-3 192.168.1.136:6443 check


# =========================================================
# Ingress HTTP
# =========================================================

frontend ingress-http
    bind 192.168.1.101:80
    mode tcp

    default_backend ingress-http-nodes


backend ingress-http-nodes
    mode tcp

    balance roundrobin
    option tcp-check

    server k8s-1 192.168.1.134:30080 check
    server k8s-2 192.168.1.135:30080 check
    server k8s-3 192.168.1.136:30080 check
    server k8s-4 192.168.1.137:30080 check


# =========================================================
# Ingress HTTPS
# =========================================================

frontend ingress-https
    bind 192.168.1.101:443
    mode tcp

    default_backend ingress-https-nodes


backend ingress-https-nodes
    mode tcp

    balance roundrobin
    option tcp-check

    server k8s-1 192.168.1.134:30443 check
    server k8s-2 192.168.1.135:30443 check
    server k8s-3 192.168.1.136:30443 check
    server k8s-4 192.168.1.137:30443 check
